<html>
  <head>
  </head>
  <body>
    <div>
      <br>
      <form action="/names" method="post">
        <div>
          <label for="player_one">Player 1:</label>
          <input type="text" id="player_one" name="player_one">
          <br>
          <label for="player_two">Player 2:</label>
          <input type="text" id="player_two" name="player_two">
          <br>
          <input type="submit" id="submit">
        </div>
      </form>
    </div>
  </body>
</html>
