<html>
  <head>
  </head>
  <body>
    <div>
      <h1> <%= @player_one.name %> - <%= @player_one.health %>HP vs <%= @player_two.name %> - <%= @player_two.health %>HP </h1>
    </div>
  </body>
</html>
